body {
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans', sans-serif;
  }

header {
    background: #333;
    padding: 10px;
}

header h1 {
    border-left:4px solid #333 ;

    color: #fff;
}

.category {
    border-bottom: #333 solid 3px;
    font-size: 30px;
}

model-viewer {
    width: 500px;
    height: 350px;
    outline: auto;  
  }


@media (max-width: 599px) {
              
    model-viewer {
    width: 85%;
    height: 280px;
    background: #333;
    }
}
