
header h1 {
    border-left:4px solid #333 ;
    padding-left: 25px;
    color: #333;
}







h1 {
    color: coral;
    margin-top: 40px;
}
ul {
    width: auto;
    list-style: none;
}
/*タブのスタイル*/
.container {
    width: 70%;
    margin: 0 auto;
}
.tab-item {
    width: 10%;
    height: auto;
    padding: 10px;
    margin: 0;
    background: #ccc;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: all .3s;
}
/*ラジオボタンを全て消す*/
input[name="tab-item"] {
    display: none;
}


.tab-content {
    width: 100%;
    height: auto;
    background: #fafafa;
    padding: 20px;
    margin: 0;

    display: none;
}
.tab-content ul{
    margin: 0;
}
.tab-content li {
    list-style: disc;
}

#t-1:checked ~ #c-1,
#t-2:checked ~ #c-2,
#t-3:checked ~ #c-3 {
    display: block;
}




#t-1:checked + label,
#t-2:checked + label,
#t-3:checked + label   {
    background: #fafafa;
}

model-viewer {
    width: 600px;
    height: 450px;
    outline: auto;
    margin: 0 auto;  
  }
